[Desktop Entry]
Comment=Cycle through windows with hotkeys and launch apps
Encoding=UTF-8
Icon=dashboard-show
Keywords=
Name=KwinSmartWm
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Aleksey Zhidkov
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=aleksey.zhidkov@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kwinsmartwm
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/smart-wm.js
X-KWin-Exclude-Listing=false
